body {
    background-color: #f8f9fa;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
    font-weight: bold;
}

.contenedor-principal {
    margin-top: 30px;
}

.card-form {
    max-width: 400px; 
}
